body {
  background: linear-gradient(135deg, #667eea, #764ba2);
  color: white;
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.container {
  background: rgba(255, 255, 255, 0.1);
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  text-align: center;
  width: 380px;
}

h1 {
  margin-bottom: 10px;
  font-size: 24px;
}

p {
  font-size: 14px;
  margin-bottom: 20px;
}

.upload-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

button {
  background-color: #ffb703;
  color: black;
  font-weight: bold;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #ffd166;
}

.preview-box {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 20px;
}

.preview {
  flex: 1;
  background: rgba(255, 255, 255, 0.15);
  padding: 10px;
  border-radius: 10px;
}

.preview h3 {
  font-size: 14px;
  margin-bottom: 8px;
  color: #ffe9a9;
}

.preview img {
  width: 100%;
  border-radius: 8px;
  display: none;
}

.download-section {
  margin-top: 15px;
}

.footer {
  margin-top: 20px;
  font-size: 12px;
  color: #eee;
}
